.discounts{
    width: 60vw;
    height: 12vw;
    margin: 7vw 21vw 0vw;
    padding: 5%;
    background-color: #2c3a47;
    border-radius: 15px;
    cursor: pointer;
    transform: 1s;
}
 .ulTable {
    font-family:initial;
    text-align: end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    color: #fff;
}

.discounts:hover{
    transform: scale(1.1);
    transition: 0.6s;
}

.phone i{
    font-size: 2vw;
}
.aboutMeta h2{
    font-size: 2vw;
}
.container h1{
    font-size: 4vw;
}
